/* Global */
html,
body {
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}

/* Product modal */
.product-container {
  box-sizing: border-box;
  z-index: 2;
  background-color: white;
  position: fixed;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f8ffe5;
  transition: all 0.5s;
}

.product-container.hidden {
  top: 100vh;
  overflow: hidden;
}

/* Product title */
.product h2 {
  color: #edae49;
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}

/* Sub total */
.sub-total {
  background-color: #2ebfa5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.sub-total p {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  color: #fff;
}

.sub-total-value {
  width: 90%;
  height: 40px;
  width: 90%;
  height: 60px;
  background-color: #f8ffe5;
  color: #00798c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
}

.sub-total-value span {
  color: #000;
}

/* Form */
.product-form {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 20px 10px 30px;
  background-color: #f8ffe5;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.product-form .field {
  background-color: #f8ffe5;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.product-form label {
  color: #000;
  font-size: 20px;
  line-height: 40px;
}

.product-form .text-area {
  height: 40px;
  resize: vertical;
}

/* Product controls */
.product-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-controls .row {
  display: flex;
  gap: 10px;
}

.product-controls .row button {
  flex-grow: 1;
}

.product-controls button {
  height: 50px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}

.product-controls .close {
  background-color: #4e4187;
  border: 2px solid #4e4187;
}

.product-controls .clear {
  background-color: #2ebfa5;
  border: 2px solid #2ebfa5;
}

.product-controls .primary {
  background-color: #3083dc;
  border: 2px solid #3083dc;
}

/* Table of products */
.products {
  width: 100%;
}

.products tbody td {
  cursor: pointer;
}
